/* CSS cho thanh Menu */

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: block;
    list-style-type: none;
}

nav ul li {
    font-size: 20px;
    display: inline-block;
}

.menu li {
    width: 130px;
    text-align: center;
    list-style: none;
    font-size: 20px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu li:hover {
    color:yellow;
    background-color: rgb(32, 9, 23);
}

.sub-menu {
    display: none;
    position: absolute;
    width: 100%;
    padding: 0px;
    text-decoration: underline;
}

.menu li:hover .sub-menu li {
    padding-top: 10px;
    background-color: rgb(32, 9, 23);
}

.menu li:hover .sub-menu {
    display: block;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color:  salmon;
}

p {
    color: white;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    
    
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 97%;
    padding: 1px;
    margin-bottom: 170px;
}

.col-2 h1 {
    color: whitesmoke;
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn {
    display: inline-block;
    background: #0e0d0d;
    color: rgb(211, 202, 202);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}

.btn1 {
    border: 3px solid white;
    display: inline-block;
    background: #0e0d0d;
    color: rgb(211, 202, 202);
    font-size: 50px;
    padding: 8px 30px;
    margin: 30px 0;
    transition: background 0.5s;
}

.btn:hover {
    background: white;
    color: red;
}

.btn-2 {
    letter-spacing: 0;
}

.btn-2.color-green:hover,
.btn-2.color-green:active {
    color: green;
}

.btn-2:hover,
.btn-2:active {
    letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
    backface-visibility: hidden;
    border: 1px solid rgba(#fff, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 2s ease-in-out;
    width: 0;
    opacity: 0;
}

.btn-2.color-green:after,
.btn-2.color-green:before {
    border: 1px solid green;
}

.btn-2:hover:after,
.btn-2:hover:before {
    backface-visibility: hidden;
    transition: width 280ms ease-in-out;
    width: 100%;
    opacity: 1;
}

.header {
    background: radial-gradient(rgb(70, 69, 69), #333);
}

.header row {
    margin-top: 70px;
}

.categories {
    margin: 70px 0;
}

.small-container {
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background-color:#333;
}

.col-4 {
    position: static;
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img {
    width: 100%;
}

.col-5 {
    position: static;
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-5 img {
    width: 100%;
    height: 370px;
}

.col-5 p {
    font-size: 20px;
    text-align: center;
}

.col-5:hover {
    transform: scale3d(1.1, 1.1, 1);
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color:white;
    font-size: 40px;
}

.title::after {
    content: '';
    
   
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 43%;
}
.info {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#333;
    color:whitesmoke;
    max-width: 490px;
    
    
    color: #000;
    font-size: 20px;
    
}
.info a:hover{
    color:yellow    ;
}
.imgN{
    text-align: left;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    max-width: 720px;
    margin-left: auto   ;
    
}
.imgQ{
    margin-left: 230px;
}
.imgL{
    text-align: center;
    color:white;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.imgE{
    margin-right: 600px;
}


h3 {
    color: rgb(204, 191, 191);
    font-weight: normal;
    text-align: center;
    font-size: 20px;
}




/* footer*/


/* ---------------footer------------ */

.footer {
    background: #000;
    color: #8a8a8a;
    padding: 60px 0 20px;
}

.row ul a li {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    padding-bottom: 10px;
    display: block;
    transition: all ease 0.3s;
    color: #999999;
}

.footer p {
    color: #d8cccc;
}

.footer h3 {
    padding-left: 10px;
    color: #fff;
    font-size: 20px;
    border-bottom: 2px solid white;
    padding-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
    min-width: 140px;
    margin-bottom: 20px;
    line-height: 25px;
    text-align: center;
}

.footer-col-1 {
    border: 2px solid white;
}

.box-custom i {
    background-color: white;
    border: 2px solid #454545;
    float: left;
    height: 33px;
    font-size: 16px;
    color: #9f9f9f;
    line-height: 30px;
    width: 33px;
}

.footer-col-2 img {
    margin-top: 20px;
    width: 350px;
    height: 220px;
    margin-bottom: 20px;
}

i img {
    width: 30px;
    height: 30px;
}

ul {
    list-style-type: none;
}

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.Copyright {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}
